.allDishes {
  margin: auto;
  margin-top: 84px;
  padding-bottom: 40px;
  background-color: #e2dedb;
  border-radius: 20px;
  width: 90%;
  height: auto;
  max-width: 1200px;
}

.allDishes h2 {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
  color: #f7a62e;
}

.allDishes ul {
  margin: auto;
  padding: unset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.allDishes li {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 90%;
  border: 1px solid black;
  box-shadow: 2px 4px 3px black;
  transition: .3s;
  cursor: pointer;
}

.allDishes li:hover {
  opacity: .7;
  transform: translateY(-3px);
  transition: .3s;
}

.allDishes__img {
  width: 90px;
  height: auto;
  min-width: 30px;
  min-height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .allDishes ul {
    grid-template-columns: 1fr 1fr;
  }
}
