.categoryPage {
  margin: auto;
  margin-top: 84px;
  padding-bottom: 40px;
  background-color: #e2dedb;
  border-radius: 20px;
  width: 90%;
  height: auto;
  max-width: 1200px;
}

.categoryPage h2 {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
  color: #f7a62e;
}

.categoryPage .meat {
  color: #e2041b;
}

.categoryPage .fish {
  color: #00afcc;
}

.categoryPage .noodle {
  color: #e2041b;
}

.categoryPage .salad {
  color: #00947a;
}

.categoryPage .dessert {
  color: #eb6ea0;
}

.categoryPage .coffee {
  color: #96514d;
}

.categoryPage ul {
  margin: auto;
  padding: unset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.categoryPage li {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 90%;
  max-width: 300px;
  border: 1px solid #000000;
  box-shadow: 2px 4px 3px #000000;
  transition: .3s;
  cursor: pointer;
  text-overflow: ellipsis;
}

.categoryPage li:hover {
  opacity: .7;
  transform: translateY(-3px);
  transition: .3s;
}

.categoryPage h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
}

.categoryPage__img {
  width: 90px;
  height: auto;
  min-width: 30px;
  min-height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .categoryPage ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .categoryPage ul {
    display: block;
  }
  .categoryPage li {
    width: 100%;
  }
}
