header {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header__box {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
}

.header__box img {
  min-width: 60px;
  border-radius: 50%;
}

.header__box nav {
  width: 100%;
}

.header__box ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.header__box a {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
  font-size: 12px;
}

.header__boxSp {
  display: none;
}

.humMen {
  display: block;
  width: 80%;
  height: 100vh;
  background-color: #fdfdfd;
  box-shadow: 4px 4px 4px #2c2c2c;
  position: fixed;
  top: 84px;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: .3s;
}

.humMen a {
  margin: 40px 0;
  display: block;
  text-align: center;
  font-size: 24px;
}

.closeHum {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 30px;
  height: 60px;
}

.closeHum span {
  margin: 10px 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #252525;
  transition: .3s;
}

.closeHum span:first-child {
  transform: translateY(6px) rotate(150deg);
}

.closeHum span:nth-child(2) {
  transform: translateY(-6px) rotate(-150deg);
  margin-bottom: 0;
}

.closeHum span:nth-child(3) {
  display: none;
  transition: .3s;
}

.closeHumNone {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header__box nav {
    display: none;
  }
  .header__boxSp {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    width: 30px;
    height: 60px;
  }
  .header__boxSp span {
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #252525;
    transition: .3s;
  }
}

@media screen and (max-width: 425px) {
  .header__box h2 {
    font-size: 20px;
  }
  .humMen a {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .humMen {
    width: 80%;
  }
}

.index {
  margin: auto;
  margin-top: 84px;
  max-width: 1200px;
  width: 100%;
}

.index__imgBox {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.index__logo {
  position: absolute;
  z-index: 99;
  top: 24%;
  left: 27%;
  width: 80%;
  min-width: 400px;
  height: 160px;
  background-image: url("../public/image/logo2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 1;
}

.index__link {
  padding: 12px 0;
  position: absolute;
  z-index: 99;
  top: 58%;
  left: 39%;
  width: 20%;
  background-color: #fc9d21;
  box-shadow: 0 5px 0 #aa6a03;
  border-radius: 8px;
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.index__link:hover {
  transform: translateY(3px);
  box-shadow: none;
  transition: .3;
}

.index__img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/image/meat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  animation: anime 36s 0s infinite;
}

.index__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #302f2f;
  opacity: .6;
}

.index__img--1 {
  background-image: url("../public/image/meat.jpg");
}

.index__img--2 {
  background-image: url("../public/image/fish.jpg");
  animation-delay: 6s;
}

.index__img--3 {
  background-image: url("../public/image/ramen.jpg");
  animation-delay: 12s;
}

.index__img--4 {
  background-image: url("../public/image/salad.jpg");
  animation-delay: 18s;
}

.index__img--5 {
  background-image: url("../public/image/dessert.jpg");
  animation-delay: 24s;
}

.index__img--6 {
  background-image: url("../public/image/coffee.jpg");
  animation-delay: 28s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .index__link {
    left: 35%;
    width: 30%;
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .index__logo {
    left: 20%;
  }
}

@media screen and (max-width: 320px) {
  .index__logo {
    top: 18%;
    left: 10%;
  }
  .index__link {
    top: 47%;
    left: 32%;
    width: 36%;
    font-size: 16px;
  }
}
